$color1: #ffffff;

$laptop: 'only screen and (max-width: 1199px)';
$tablet-landscape: 'only screen and (max-width: 989px)';
$tablet-portrait: 'only screen and (max-width: 769px)';
$mobile: 'only screen and (max-width: 569px)';