doctype html
html(lang='ru')
	include includes/head.pug
	body
		.page-wrap
			include includes/header.pug
			include includes/mainpage.pug
			include includes/footer.pug
		script(src='assets/js/libs.min.js?ver=1')
		script(src='assets/js/main.js?ver=1')
